.navbar{
	color: #0084b4;
	text-align: center;
	margin-right: auto;
 	margin-left: auto;
 	display: block;
}
.fa-twitter{
	text-align: center;
}
.fa-user-circle{
	text-align: center;
	font-size: 100px;
	color: #0084b4;
	text-align: center;
	margin-right: auto;
 	margin-left: auto;
 	display: block;
}
.fa-paperclip{
	color: grey;
	font-size: 30px;
}
.img__background{
	max-width: 100%;
	height: auto;
}
.cambiar__foto{
	text-align: center;
}
.columna__izquierda{
    border: 6px solid black;
    padding: 50px; 	
}
.columna__derecha{
    border: 6px solid white;
    background-color: #0084b4;
}
.fa-twitter{
	margin: 20px;
	text-align: center;
}
.columna__derecha--post{
	background-color: #0084b4;
	width: 300px;
	height: 300px;
	padding: 50px;
}
.post__delete{
	float: right;
	font-size: 30px;
}

@media (min-width: 300px) and (max-width: 600px){
.row__titular{
	display: block;
	float: right;
}
.columna__derecha--post{
	display: block;
	width: 300px;
}
.columna__izquierda{
    padding: 20px; 	
    padding-bottom: 30px;
    width: 300px;
}
.columna__derecha{
    padding: 20px; 	
    padding-bottom: 30px;
}
.columna__derecha--post{
	display: block;
	float: left;
}
.post__delete{
	float: right;
	font-size: 30px;
	display: block;
}
.cambiar__foto{
	padding-left: auto;
	padding-right: auto;
}
.fa-user-circle{
	padding: 80px;
}
@media (min-width: 601px) and (max-width: 800px){
