.navbar{
	color: #0084b4;
	text-align: center;
	margin-right: auto;
 	margin-left: auto;
 	display: block;
}
.fa-twitter{
	text-align: center;
}
.fa-user-circle{
	text-align: center;
	font-size: 100px;
	color: #0084b4;
	margin-right: auto;
 	margin-left: auto;
 	margin-top: 20px;
 	display: block;
}
.fa-paperclip{
	color: grey;
	font-size: 30px;
}
.fa-heart{
	color: white;
	margin-top: 40px; 
}
.img__background{
	max-width: 100%;
	height: auto;
}
.cambiar__foto{
	text-align: center;
	border: 10px;
}
.contenedor__izquierda--principal{
    border: 6px solid white;
}
.contenedor__izquierda{
    border: 6px solid white;
}
.contenedor__derecha{
    border: 6px solid white;
    background-color: #0084b4;
    text-align: left;
}
.fa-twitter{
	margin: 20px;
	text-align: center;
}
.contenedor__derecha--post{
	border: 6px solid white;
    background-color: #0084b4;
	width: 500px;
	height: 500px;
	padding: 50px;
	overflow: auto;
	margin: 10px;
	float: right;
	display: block;
}
.twett__delete{
	float: right;
	font-size: 20px;
	color: white;
	margin-top: 40px;
}
.fa-heart{
	float: left;
	font-size: 20px;
	color: white;
}
.fa-user{
	color: white;
	margin-bottom: 15px;
	font-size: 35px;
}
.btn{
	margin-right: auto;
 	margin-left: auto;
 	display: block;
 	margin-top: 10px;
 	margin-bottom: 100px;
}
textarea{
	max-width: 100%;
	height: 150px;
	display: inline-block;
}
input[type="submit"] {
    width: 160px;
    display: block;
    margin-bottom: 10px;
}
#image__perfil{
	max-width: 200px;
}
@media (min-width: 200px) and (max-width: 600px){
.contenedor__derecha--post{
	display: block;
	max-width: 300px;
}
.contenedor__izquierda--principal{
    display: block; 
}
.contenedor__izquierda{
	display: none;
}
.contenedor__derecha{
    padding: 20px; 	
    padding-bottom: 30px;
    max-width: 100%;
   	height: 100%;
}
.contenedor__derecha--post{
	display: block;
	max-width: 100%;
}
.fa-trash-alt{
	float: right;
	font-size: 30px;
	display: block;
}
.cambiar__foto{
	padding-left: auto;
	padding-right: auto;
}
.btn{
 	margin-bottom: 50px;
}
textarea{
	max-width: 100%;
	height: 150px;
	margin-top: 0px;
}
@media (min-width: 601px) and (max-width: 800px){
